package main

// Files to search classes from
import "stdio"
// Import game directory (load all files in "game" directory)
import "game"

fn Main() int {
	var g = game.New()
	if !g.Start() {
		stdio.Printf("Could not initialize game")
	}
	game.Delete(g)
	return 0
}	
